[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "grobblR"]
	path = grobblR
	url = https://github.com/calvinmfloyd/grobblr
	shallow = true
	registered = true
